    <div class="row h50">
        <div class="col-lg-6 col-md-6 bg-muted inline bg-warning">
            <img src="/img/r_logo.png" width="80%" height="auto" >
        </div>
        <div class="col-lg-6 col-md-6 inline">
            <div class="container my-auto h-60 d-flex my-auto flex-column text-center">
                <br/><br/><br/>
                <h4><i>Welcome to</i></h4>
                <h2>Result Management System</h2>
                <br/><br/>
                <h6>Log into the system as :</h6>
                <br/>
                <button class="inline btn bg-primary" onclick="location.href='/teacher'">Teacher</button>  
                <div class="row justify-content-center">

                    <div class="col-lg-5 col-md-5 col-sm-5 inline text-end"><hr/></div>
                    <small class="inline col-lg-1 col-md-1 col-sm-1 align-bottom font-italic"><i>or</i></small>
                    <div class="col-lg-5 col-md-5 col-sm-5 inline"><hr/></div>
                </div>
                <button class="inline  btn bg-primary m-1" onclick="location.href='/student'">Student</button>                        
                <br/><br/>
            </div>        
        </div>
    </div>