<br/><div class="row">
    <div class="inline col-lg-4 text-left">
        
    </div>
    <div class="inline col-lg-4 text-center">
        <b>Find Result</b>
    </div>
    <div class="inline col-lg-4 text-end">
        <button class="btn btn-danger" onclick="location.href='/'">logout</button>
    </div>
</div>
<hr/>
<form class="container" action="/submitViewResult" method="post">
    <div class="form-group">
        <label for="rollno">Roll Number</label>
        <input type="text" class="form-control" name="rollno" placeholder="Enter Roll Number">
    </div>
    <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter Full Name">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br/><br/>