<br/><div class="row">
    <div class="inline col-lg-4 text-left">
        <button class="btn btn-primary">Back</button>        
    </div>
    <div class="inline col-lg-4 text-center">
        <b>Result</b>
    </div>
    <div class="inline col-lg-4 text-end">
        <button class="btn btn-danger">logout</button>
    </div>
</div>


<br/>
<table class="table table-borderless">

    <tr class="row">
        <th class="text-end col-lg-6">
            Roll Number
        </th>
        <td class="col-lg-6">
            <%= students[0].rollno %>
        </td>
    </tr>
    
    <tr class="row">
        <th class="text-end col-lg-6">
            Name
        </th>
        <td class="col-lg-6" name = "name">
            <%= students[0].name %>
        </td>
    </tr>
    
    <tr class="row">
        <th class="text-end col-lg-6">
            Bate of Birth
        </th>
        <td class="col-lg-6"  name = "dob">
            <%= students[0].dob %>
        </td>
    </tr>
    
    <tr class="row">
        <th class="text-end col-lg-6">
            Score
        </th>
        <td class="col-lg-6"  name = "score">
            <%= students[0].score %>
        </td>
    </tr>
</table>
<br/><br/>